/* -------------------обнуление----------- */
body {
  box-sizing: border-box;
  background-color: aquamarine;
}

h1,
h2,
h3,
h4,
ul,
body,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

button {
  outline: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

/* -------------------обнуление----------- */
.nav-wrap {
  width: 360px;
  padding-top: 27px;
}

.menu-btn {
  position: absolute;
  top: 0;
  left: 0;
}

.menu {
  position: absolute;
  top: 50px;
  border-radius: 0 15px 15px 0;
  background-color: #ffffff;
  width: 296px;
}
.secondary-menu.active {
}

.menu__item:not(:last-child) {
  border-bottom: 1px gray solid;
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
}

.active {
  pointer-events: auto;
  visibility: visible;
}

.menu-wrap {
  display: flex;
  position: relative;
  /* height: 100vh; */
}

.main-menu {
  /* height: 100%; */
}

.secondary-menu {
  /* height: 100%; */
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 296px;
  border-radius: 0 15px 15px 0;
  border: 1px tomato solid;
}

.secondary-menu > .menu__item {
  border-bottom: none;
}

@media screen and (min-width: 768px) {
  .nav-wrap {
    width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .nav-wrap {
    width: 1250px;
    padding-left: 95px;
    padding-right: 95px;
    padding-top: 0;
    background-color: #fdca3d;
  }

  .menu-btn {
    display: none;
  }

  .main-menu {
    display: flex;
    width: 100%;
    font-size: 16px;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0;
    background-color: #fdca3d;
  }

  .main-menu > .menu__item {
    position: relative;
  }

  .menu__item:not(:last-child) {
    border-bottom: 0;
  }

  .menu__item {
    padding: 22.5px 15px;
  }

  .menu__item:first-child {
    box-sizing: border-box;
    background-color: #e22636;
    width: 296px;
  }

  .secondary-menu {
    top: 64px;
    width: 296px;
  }
}
