/* -------------------обнуление----------- */
body {
  box-sizing: border-box;
  background-color: aquamarine;
}

h1,
h2,
h3,
h4,
ul,
body,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

button {
  outline: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

/* -------------------обнуление----------- */
.nav-wrap {
  width: 360px;
  position: relative;
  padding-top: 27px;
}

.menu-btn {
  position: absolute;
  top: 0;
  left: 0;
}

.menu {
  border-radius: 0 15px 15px 0;
  background-color: #ffffff;
  width: 296px;
  overflow: hidden;
}

.menu__item {
  border-bottom: 1px gray solid;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.secondary-menu,
.sub-menu {
  position: absolute;
  top: 27px;
}

.secondary-menu > .menu__item,
.sub-menu > .menu__item {
  border-bottom: none;
}

.sub-menu {
  background-color: #dee4e9;
}

@media screen and (min-width: 768px) {
  .nav-wrap {
    width: 768px;
  }

  .secondary-menu {
    border-radius: 0;
  }

  .sub-menu {
    left: 296px;
    width: 412px;
  }
}

@media screen and (min-width: 1440px) {
  .nav-wrap {
    width: 1250px;
    padding-left: 95px;
    padding-right: 95px;
  }
}
